{% extends 'base.html' %}
{% block content %}
<h1>Lets Play The Birthday Game</h1>
<div>
<br>
<br>
<h2>In the last year...</h2>

<form method="POST" class="form-control-sm">

  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-outline-success" type="submit" >Submit</button>

</form>
</div>
{% endblock %}