{% extends 'base.html' %}

{% block content %}

<h1>Previous years</h1>


<table class="table table-striped table-dark">
<thead>

<th>Last year...</th>
</thead>
{% for res in results %}
<td scope="row">{{res.question_1}}</td>
<td scope="row">{{res.question_2}}</td>
<td scope="row">{{res.question_3}}</td>
<td scope="row">{{res.question_4}}</td>
<td scope="row">{{res.question_5}}</td>
<td scope="row">{{res.question_6}}</td>
<td scope="row">{{res.question_7}}</td>
<td scope="row">{{res.question_8}}</td>

{% endfor %}
{% endblock %}